<app-navbar></app-navbar>

<div class="row">
    <div class="col-md-10 offset-md-1 my-2">
        <div class="card p-2">
            <!-- todo:add image
            <div class="card-image">
                <img src="">
            </div> -->

            <div class="card-content">
                <span class="card-title"> 403 - ACCESS DENIED</span>
                <p>
                    You dont have permission to access this.
                </p>
            </div>
        </div>
    </div>
</div>